<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845281160312-6dhljlj0stthtput4j4okidpp0l2m47b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845281160312-6dhljlj0stthtput4j4okidpp0l2m47b</string>
	<key>API_KEY</key>
	<string>AIzaSyBjgjbrGW4mBwhD0aiwPwhgaUJrKz7U8og</string>
	<key>GCM_SENDER_ID</key>
	<string>845281160312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SocialHub</string>
	<key>PROJECT_ID</key>
	<string>socialhub-50d19</string>
	<key>STORAGE_BUCKET</key>
	<string>socialhub-50d19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845281160312:ios:1b0e8e0ad7fedad1f8918d</string>
</dict>
</plist>